QPushButton#@OBJECT_NAME@ {
  background-image: url(@IMAGE_PATH@);
  background-repeat: no-repeat;
  background-position: center center;
}

QPushButton#@OBJECT_NAME@:hover {
  background-image: url(@IMAGE_PATH@);
  border: 1px solid;
  border-color: rgb(190, 190, 190);
  border-radius: 5px;
  background-color: rgb(190,190,190);
  background-repeat: no-repeat;
  background-position: center center;
}

QPushButton#@OBJECT_NAME@:pressed
{
  background-image: url(@IMAGE_PATH@);
  border: 1px solid;
  border-color: rgb(170, 170, 170);
  border-radius: 5px;
  background-color: rgb(170,170,170);
  background-repeat: no-repeat;
  background-position: center center;
}
QPushButton#@OBJECT_NAME@:disabled {
  background-image: url(@IMAGE_PATH@);
  background-repeat: no-repeat;
  background-position: center center;
}

